@layer theme, base, components, utilities;
@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

html,
body {
  min-width: 320px;
  min-height: 100px;
  overflow: auto;
}

body {
  @apply text-slate-300;
  background-color: #1f1f1f;
}

#redmine-task-tracker {
  @apply flex flex-col h-full;
}

/* Tabs */

.tabs-menu {
  @apply p-2 flex items-center space-x-4 relative;
}

.tabs-menu::after {
  content: "";
  @apply absolute bottom-0 left-0 w-full h-[2px] bg-sky-600;
}

button.icon {
  @apply cursor-pointer;
}

button.icon svg {
  fill: var(--icon-color);
  width: var(--icon-size);
  height: var(--icon-size);
}

button.icon.loading svg {
  @apply fill-sky-600 animate-spin;
}

.tab-btn {
  @apply cursor-pointer text-lg;
}

.tab-btn.active {
  @apply text-sky-600;
}

.tab-content {
  @apply px-2 my-6;
}

/* Section */

.section {
  @apply relative p-2 mb-4 border rounded border-sky-600;
  --section-color: var(--color-sky-600);
  border-color: var(--section-color);
}

.section-title {
  @apply absolute -top-3 left-4 px-2 text-sm font-semibold;
  background-color: #1f1f1f;
}

label {
  @apply mb-2;
}

input {
  @apply px-2 py-1 rounded border border-sky-600;
}

.form-btn {
  @apply text-base px-2 py-1 rounded border border-sky-600 cursor-pointer;
}

.form-btn:hover {
  @apply bg-sky-600 text-slate-100;
}

.form-btn:active {
  @apply bg-sky-800 border-sky-800 text-slate-100;
}

.small-btn {
  @apply px-1 py-0.5 text-xs;
}

/* Issues sectiom */

.issue-link {
  @apply cursor-pointer text-sm text-white rounded px-1 py-0.5;
  --issue-link-bg-color: var(--color-slate-600);
  background-color: var(--issue-link-bg-color);
}

.issue-link:hover {
  --issue-link-bg-color: var(--color-slate-800);
}

.issue-link.bug {
  --issue-link-bg-color: var(--color-red-600);
}

.issue-link.bug:hover {
  --issue-link-bg-color: var(--color-red-800);
}

.issue-link.task {
  --issue-link-bg-color: var(--color-purple-600);
}

.issue-link.task:hover {
  --issue-link-bg-color: var(--color-purple-800);
}

.issue-link.feature {
  --issue-link-bg-color: var(--color-sky-600);
}

.issue-link.feature:hover {
  --issue-link-bg-color: var(--color-sky-800);
}

.issue-link.support {
  --issue-link-bg-color: var(--color-green-600);
}

.issue-link.support:hover {
  --issue-link-bg-color: var(--color-green-800);
}

/* Time section */

.weeks-list {
  @apply flex flex-col space-y-6;
}

.weeks-list-item {
  @apply block;
}

.week-title {
  @apply text-base mb-2 flex items-center;
}

.week-total {
  @apply ml-2 text-xs text-sky-600 border border-sky-600 px-2 py-1 rounded;
}

.days-list {
  @apply flex flex-col space-y-2;
}

.days-list-item {
  @apply flex space-x-2 space-y-2 justify-between items-center;
}

.day-title {
  @apply w-[30px] text-sm m-0;
}

.day-time {
  @apply w-full flex items-center space-x-2;
}

.day-total {
  @apply w-[55px] text-xs text-sky-600 inline-flex justify-end;
}

.time-bar {
  @apply w-full h-4 flex space-x-0.5;
}

.time-bar-fill {
  @apply inline-block h-4 bg-sky-600 rounded;
  --time-bar-fill-color: var(--color-sky-600);
  background-color: var(--time-bar-fill-color);
}

.time-bar-fill-rest {
  @apply inline-block h-4 rounded;
  background: repeating-linear-gradient(
    45deg,
    var(--color-sky-300),
    var(--color-sky-300) 5px,
    var(--color-sky-100) 5px,
    var(--color-sky-100) 10px
  );
  background-size: 200% 200%;
}

/* Modal */
.modal {
  @apply fixed top-0 left-0 z-200 w-screen h-screen;
  --modal-width: 800px;
  --modal-height: 400px;
}

.overlay {
  @apply absolute top-0 left-0 w-full h-full z-0 bg-black opacity-50;
}

.modal-content {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-1 bg-white text-slate-900 rounded shadow-lg p-2;
  @apply grid grid-rows-[auto_1fr_auto] overflow-auto;
  width: min(90vw, var(--modal-width));
  height: min(90vh, var(--modal-height));
}

.modal-actions {
  @apply flex justify-end space-x-2;
}
